body{
	background-color:black;
	background-image:url("background-color.jpg");
	background-repeat:no-repeat;
	background-size:100% auto;
	font-family: "American Typewriter",Courier, "Courier New", monospace;    
	font-weight:100;
}
img{
	height:100px;
	padding:0px;
	padding-bottom:50px;
	margin:0px;
	font-size:0px
}

.cubeRow{
	padding-top:0px;
	
}
.top{
	font-size:100px;
}
.instruction{
	padding-top:35px;
	padding-bottom:25px;
	font-size:30px;
	color:grey;
}
.sidebar{float: left;
    width: 250px;
    background: #ccc;
    min-height: 100%;
}