.title {
  text-align: center;
	font-weight: bold;
	font-size: 2em;
	color: #FFFFFF;
}

.rwd-table th, .rwd-table td {
  text-align: center;
}

body {
  padding: 0 2em;
}

.rwd-table td.average {
  font-weight: bold;
  border-left: 5px solid #000;
  border-right: 5px solid #000;
}

.rwd-table th, .rwd-table td {
  margin: .5em 1em;
}
