#controls{
    padding-left: 30px;
}

.chart {
    height:600px;
    width: 95%;
}

.customNode {
    height: 140px;
    width: 200px;
    text-align: center;
    background-color: white;
    color: black;
    padding-top:15px;
}

p.node-title {
    color: green;
    text-align: left;
    padding: 10px;
}
p.node-desc{
    font-size: 12px;
}
#leftbox {
    text-align: center;
    float:left;
    width:30%;
    height:100px;
}
#rightbox{
    text-align: center;
    float:left;
    width:70%;
    height:100px;
}
#board {
    height: 24px;
    text-align: center;
    font-size: 24px;
}

.cell {
    border-color: black;
    border: solid thin;
    font-size: 10pt;
    padding: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
}

td.selected-cell {
    background-color: #98d3f5;
}

.highlighted-cell {
    background-color: #d5f7de !important;
}

.pocket-pair {
    background-color: #d1d1d1;
}

.suited {

}

.offsuit {

}
