.weight-100 {
    background-color: #00c6ff;
    color: black:
}

.weight-95 {
    background-color: #1bccff;
}

.weight-90 {
    background-color: #26cfff;
}

.weight-85 {
    background-color: #30d1ff;
}

.weight-80 {
    background-color: #38d3ff;
}

.weight-75 {
    background-color: #46d6ff;
}

.weight-70 {
    background-color: #50d8ff;
}

.weight-65 {
    background-color: #5ddbff;
}

.weight-60 {
    background-color: #69deff;
}

.weight-55 {
    background-color: #76e1ff;
}

.weight-50 {
    background-color: #82e3ff;
}
.weight-45 {
    background-color: #8de5ff;
}

.weight-40 {
    background-color: #98e8ff;
}

.weight-35 {
    background-color: #a4ebff;
}

.weight-30 {
    background-color: #aeedff;
}

.weight-25 {
    background-color: #c6f2ff;
}

.weight-20 {
    background-color: #cdf4ff;
}

.weight-15 {
    background-color: #d7f6ff;
}

.weight-10 {
    background-color: #dff8ff;
}

.weight-5 {
    background-color: #e9f8fc;
}

.weight-0 {
    background-color: white;
}
