body{
	background-image:url("background-color.jpg");

}
#content {
	width: 100%; height: 100%
}
#sidebar {
   	width: 200px; 
   	height: 500px; 
   	float:left;
   	padding:0px;
      padding-top:10%;
      margin-right:50px;



   }
 #main {
   	margin-left: 100px;
      padding-left:30px;
   	height: 100%;
   	  }
 .header{
   font-family: "American Typewriter",Courier, "Courier New", monospace; 
   font-size:100px;   
   font-weight:100;
 }
 #selected{
   background-color:#B0B0B0 ;
 }
 .wordSpacing{
 	padding-top:20px;
 	padding-bottom:20px;
 }

 
 img{
   padding-left:50px;
 }
 .caption{
   padding-left:200px;
   font-size:14px;
 }
 .titles{
   position: relative;
    left: -150px;
 }
